@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<a class="twitter-timeline" data-link-color="#428BCA" data-chrome="noheader noscrollbar noborders transparent" data-dnt="true" href="https://twitter.com/PhilRumens/localgovdigitalaccounts"  data-widget-id="449274716511952896"></a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script>
window.setTimeout(function(){
	$(".twitter-timeline").contents().find(".e-entry-title").css({"font-family":"Trebuchet MS","font-size":"125%","color":"#6b7770","line-height":"140%"});
  }, 2000);
</script>
